@font-face {
  font-family: "Narrow-Bold";
  src: url("../../src/assets/fonts/ArchivoNarrow-Bold.ttf");
}

@font-face {
  font-family: "Narrow-Regular";
  src: url("../../src/assets/fonts/ArchivoNarrow-Regular.ttf");
}

:root {
  --fuente-bold: "Narrow-Bold";
  --fuente-regular: "Narrow-Regular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: var(--fuente-regular);
  background-color: #000000;
}

p {
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
}

/* Custom svg's */
.custom__svg__linkedin {
  max-width: 3rem;
}
.custom__svg__gmail {
  max-width: 2.4rem;
}

/* Custom vanta */

.vanta-container {
  position: relative;
}

.vanta-content {
  display: flex;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 100%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vanta-content h1 {
  font-size: 5rem;
}

.vanta-content p {
  font-size: 3rem;
}

.vanta-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.vanta-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 400px;
  /* backdrop-filter: blur(0.5px);  */
  background-color: #00000079; /* Color del fondo difuminado */
}
